@tailwind base;
@tailwind components;
@tailwind utilities;

focus-timer{
    position: fixed;
    top: 6px;
    right: 6px;
}

h3, .h3 {
    font-size: 38px;
    line-height: 120%;
    font-weight: 700;
    font-family: "Space Mono", sans-serif;
}

h4, .h4 {
    font-size: 28px;
    line-height: 140%;
    font-weight: 700;
    font-family: "Space Mono", sans-serif;
}

focus-timer {
    position: fixed;
    top: 6px;
    right: 6px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    /* Invert the icon color to make it visible on dark background */
}